/* 
* font-family: 'Lato', sans-serif;
* weight: 400/700/italic-both
**/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 10px;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: #F3F3F3;
}

img {
  max-width: 100%;
}

.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
  padding: 0;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #FF9800, #182860);
  /* Next & previous buttons */
}

.slideshow-container .mySlides {
  min-height: 490px;
  display: none;
  padding: 30px 10px;
}

@media (min-width: 768px) {
  .slideshow-container .mySlides {
    min-height: 370px;
  }
}

@media (min-width: 768px) {
  .slideshow-container .mySlides {
    padding: 45px 35px;
  }
}

.slideshow-container .mySlides .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  text-align: center;
}

.slideshow-container .mySlides .text {
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #FFFFFF;
  font-size: 18px;
  padding: 8px 4px;
}

@media (min-width: 768px) {
  .slideshow-container .mySlides .text {
    padding: 8px 12px;
  }
}

.slideshow-container .mySlides img {
  width: 60px;
  display: block;
  margin: 0 auto;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-radius: 24px 8px 24px 8px;
}

.slideshow-container .mySlides .designation {
  text-align: center;
  font-size: 14px;
  color: #000000;
}

.slideshow-container .bg1 {
  background: #42378f;
  background-image: url("../img/pen.png");
  /* fallback */
  background-image: url("../img/pen.png"), linear-gradient(315deg, #42378f 0%, #f53844 74%);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

.slideshow-container .bg2 {
  background: #045de9;
  background-image: url("../img/pen-2.png");
  /* fallback */
  background-image: url("../img/pen-2.png"), linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

.slideshow-container .bg3 {
  background: #7f53ac;
  background-image: url("../img/pen-3.png");
  /* fallback */
  background-image: url("../img/pen-3.png"), linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

.slideshow-container .prev, .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slideshow-container .prev:hover, .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px;
  }
}

.guideline {
  max-width: 1050px;
  background-color: #DEE1E6;
  padding: 30px 15px;
  margin: 60px auto 10px;
  border: 1px solid #999ca1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 4px;
  -webkit-transition: all 0.7s cubic-bezier(0.88, -0.07, 0.48, 1.1);
  transition: all 0.7s cubic-bezier(0.88, -0.07, 0.48, 1.1);
}

.guideline h1 {
  -webkit-transition: color 0.8s ease;
  transition: color 0.8s ease;
  font-style: italic;
  color: #717171;
  margin: 0;
  text-align: center;
  font-size: 22px;
}

@media (min-width: 768px) {
  .guideline h1 {
    font-size: 30px;
  }
}

.guideline p {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  font-style: italic;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

.guideline p a {
  text-decoration: none;
  color: #F13846;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.guideline p a:hover {
  text-shadow: none;
}

.guideline:hover {
  background-color: #b8d2ff;
  border: 0 solid #999ca1;
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0) 0px 5px 15px;
  border-radius: 0;
}

.guideline:hover > h1 {
  color: #000000;
}

.guideline:hover > p {
  color: #055ffa;
}

.guideline:hover > p a {
  color: #03ab14;
}
/*# sourceMappingURL=style.css.map */